.plusButton{
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    background-color: inherit;
    border: none;
    padding: 0;
}

.plusButton:hover{
    border: 1px solid black;
    border-radius: 10px;
}

.plusButton:active{
    border: 1px solid rgb(0, 4, 255);
}

.plusImg{
    height: 100%;
    width: 100%;
}

.windowForNewTask{
    justify-items: start;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-bottom: 55px;
    border-radius: 5px;
}

.buttonForAddTask{
    align-content: center;
    margin-left: 10px;
    background-color: #0079bf;
    color: white;
    border-radius: 5px;
    height: 30px;
}

.textareaForAddTask{
    height: 70px;
    width: 90%;
    margin-left: 10px;
    border-radius: 5px;
}