.modal {
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 50vw;
    height: 70vh;
    transform: scale(1);
    transition: 0.4s all;
}

.buttonClose { 
    float: right;
    background-color: white;
    border: 0;
    width: 40px;
}

.imgClose{
    width: 100%;
    height: 100%;
}