.modal {
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background-color: #ebecf0;
    width: 50vw;
    height: 70vh;
    transform: scale(1);
    transition: 0.4s all;
}

.buttonClose { 
    float: right;
    background-color: #ebecf0;
    border: 0;
    width: 40px;
}

.imgClose{
    width: 100%;
    height: 100%;
}

.nameTask {
    word-wrap: break-word;
    word-break: break-all;
}

.description{
    margin-top: 2%;
}

.addDescription{
    display: flex;
    align-items: center;
}

.plusButton {
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 1%;
    padding: 0;
}

.plusButton:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.plusButton:active {
    border: 1px solid rgb(0, 4, 255);
}

.plusImg {
    height: 100%;
    width: 100%;
}